<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>스프링 부트 웹 서비스</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-RnYc6rj3MQfY4GZx6J5uo2PY/yPO0IYxR6WDXHcdghQQxyKfQf02r+VPo9hEfuVF"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Kraft</a>
    </div>
</nav>
<div class="container mt-4">
