<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/header :: header}"></head>
<body>

<div th:replace="~{layout/navbar :: navbar}"></div>

<div class="container py-4">
    <h1 class="page-title">비밀번호 변경</h1>
    <div class="col-md-6">
        <div class="card-kraft">
            <form>
                <div class="form-group">
                    <label for="currentPassword">현재 비밀번호</label>
                    <input type="password" class="form-control" id="currentPassword">
                </div>
                <div class="form-group">
                    <label for="newPassword">새 비밀번호 (8자 이상)</label>
                    <input type="password" class="form-control" id="newPassword">
                </div>
            </form>
            <div class="btn-group-gap">
                <a href="/" role="button" class="btn btn-secondary">취소</a>
                <button type="button" class="btn btn-primary" id="btn-change-password">변경하기</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layout/footer :: footer}"></div>
</body>
</html>
