<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>

<form th:action="@{/join}" th:object="${userJoinRequest}" method="post">

    <!-- 글로벌 에러 메시지 -->
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>

    <div>
        <label>이메일</label>
        <input type="email" th:field="*{email}" placeholder="example@email.com" />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <div>
        <label>아이디</label>
        <input type="text" th:field="*{username}" />
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>

    <div>
        <label>닉네임</label>
        <input type="text" th:field="*{nickname}" />
        <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
    </div>

    <div>
        <label>비밀번호</label>
        <input type="password" th:field="*{password}" />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    <button type="submit">가입하기</button>
</form>

</body>
</html>
