
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* 청명한 하늘색 */
    color: #333;
}

.navbar {
    background-color: #87ceeb; /* 밝은 하늘색 */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.logo {
    font-weight: bold;
    font-size: 1.4em;
}

hr {
    margin-top: 30px;
}
